[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anthropic = {extras = ["bedrock", "vertex"], version = ">=0.37.1"}
pillow = "*"
pyautogui = "*"

[dev-packages]

[requires]
python_version = "3.13"
